.admin-table

  border-collapse: collapse

  thead
    background: rgba(0, 0, 0, 0.7)
  tbody
    overflow: scroll
  th
    border-borrom: 1px solid grey
    color: white
    height: 25px
    padding: 2px
    text-align: left

  td
    font-size: 12px
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
    border-left: 1px solid rgba(0, 0, 0, 0.2)
    max-width: 200px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    div
      max-width: 200px
      min-width: 100px
      height: 70px
      text-overflow: ellipsis
      padding: 2px
      background: rgba(0, 0, 0, 0.1)
      display: flex
      align-items: center

.table-body-scroll
  overflow: scroll
